<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>

    <ion-card>
        <img alt="img1" src="../../../assets/img/imgVicente.jpg" />
        <ion-card-header>
          <ion-card-title>Vicente Poveda</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Estudiante Ingeniería en Informática. Edad 24.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="img2" src="../../../assets/img/imgJose.jpg" />
        <ion-card-header>
          <ion-card-title>José Vergara</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Estudiante Ingeniería en Informática. Edad 22.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="img3" src="../../../assets/img/imgJair.jpg" />
        <ion-card-header>
          <ion-card-title>Jair Maturana</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Estudiante Ingeniería en Informática. Edad 22.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img alt="img4" src="../../../assets/img/matias.png" />
        <ion-card-header>
          <ion-card-title>Matías López</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Estudiante Ingeniería en Informática. Edad Desconocido.
        </ion-card-content>
      </ion-card>

</ion-content>
